.App {
  background-color: #282c34;
  height: 100vh; 
}


.App-header {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
}

.App-body {
  display: flex;
  overflow-x: auto;
}

.Column {
  background: #ddd;
  width: 300px;
  height: fit-content;
  margin: 5px;
}

.Column-Title {
  padding: 10px;
}

.Column-Add-Card {
  padding: 10px;
  color: #444;
}

.Add_Column {
  background: #ddd;
  width: 300px;
  height: fit-content;
  margin: 5px;
  padding: 10px;
  color: #444;
}


.Cards {
  background: #ddd;
  height: fit-content;
  margin: 10px;
    min-height: 18px;
}

.Card {
  background: #fff;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  min-height: 18px;
}