.App {
  background-color: #282c34;
  height: 100vh; 
}

.App-header {
  background: rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
}

.App-body {
  display: flex;
  overflow-x: auto;
}

.Column {
  background: #ddd;
  width: 300px;
  height: fit-content;
  margin: 5px;
}

.Column-Title {
  position: relative;
  cursor: pointer;
  background: 444;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  min-height: 18px;

}

.Column-Add-Card {
  padding: 10px;
  color: #444;
}

.Add_Column {
  background: #ddd;
  width: 300px;
  height: fit-content;
  margin: 5px;
  padding: 10px;
  color: #444;
}

.Cards {
  background: #ddd;
  height: fit-content;
  margin: 10px;
    min-height: 18px;
}

.Card {
  position: relative;
  cursor: pointer;
  background: white;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  min-height: 18px;
}

.Column-Title-Edit{
  display: flex;
  max-height: 20px;
}

.Card-Edits {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Card-Edit {
 cursor: pointer;
 display: flex;
}

.Edit-Buttons {
  display: flex;
}
